<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <center>
      <ion-title>Volley Apps</ion-title>
    </center>
  </ion-toolbar>


</ion-header>

<ion-content>
  <ion-card-content>
    <ion-card-header>
      <ion-card-subtitle>Hello there,</ion-card-subtitle>
      <ion-card-title>Welcome to Volley Apps</ion-card-title>
    </ion-card-header>
  </ion-card-content>

  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div align="center">
            <img
              src="https://media3.giphy.com/media/gFQ0KFitHzb7QdyP22/giphy.gif?cid=ecf05e4745jz8zwgh2qwf750wlxp3fken9o8v5hof9hay0a6&rid=giphy.gif&ct=g"
              width="#" height="#">
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>

  <ion-card-content>
    <ion-card-header>
      <ion-card-title align="left"> <h2>HIGHLIGHT VOLLEYBALL EVENT</h2></ion-card-title>
    </ion-card-header>
  </ion-card-content>

  <ion-slides [options]="option" class="ion-margin-top" *ngFor="let saif of foto.events">


    <ion-slide>
      <ion-card>
        <img src="{{saif.strFoto1}}">
        <h5>Lorem ipsum is placeholder text commonly used in the graphic,
          print, and publishing industries for previewing layouts and visual
          mockups.
        </h5>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="{{saif.strFoto2}}">
        <h5>Lorem ipsum is placeholder text commonly used in the graphic,
          print, and publishing industries for previewing layouts and visual
          mockups.
        </h5>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="{{saif.strFoto3}}">
        <h5>Lorem ipsum is placeholder text commonly used in the graphic,
          print, and publishing industries for previewing layouts and visual
          mockups.
        </h5>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="{{saif.strFoto4}}">
        <h5>Lorem ipsum is placeholder text commonly used in the graphic,
          print, and publishing industries for previewing layouts and visual
          mockups.
        </h5>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="{{saif.strFoto5}}">
        <h5>Lorem ipsum is placeholder text commonly used in the graphic,
          print, and publishing industries for previewing layouts and visual
          mockups.
        </h5>
      </ion-card>
    </ion-slide>


  </ion-slides>

  <ion-card-content>
    <ion-card-header>
      <ion-card-title align="left"><h2>MVP IN THIS SEASON</h2></ion-card-title>
    </ion-card-header>
  </ion-card-content>



  <ion-slides [options]="option" class="ion-margin-top" *ngFor="let saif of foto.events">


    <ion-slide>
      <ion-card>
        <img src="{{saif.strFoto1}}">
        <h5>Lorem ipsum is placeholder text commonly used in the graphic,
          print, and publishing industries for previewing layouts and visual
          mockups.
        </h5>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="{{saif.strFoto2}}">
        <h5>Lorem ipsum is placeholder text commonly used in the graphic,
          print, and publishing industries for previewing layouts and visual
          mockups.
        </h5>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="{{saif.strFoto3}}">
        <h5>Lorem ipsum is placeholder text commonly used in the graphic,
          print, and publishing industries for previewing layouts and visual
          mockups.
        </h5>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="{{saif.strFoto4}}">
        <h5>Lorem ipsum is placeholder text commonly used in the graphic,
          print, and publishing industries for previewing layouts and visual
          mockups.
        </h5>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="{{saif.strFoto5}}">
        <h5>Lorem ipsum is placeholder text commonly used in the graphic,
          print, and publishing industries for previewing layouts and visual
          mockups.
        </h5>
      </ion-card>
    </ion-slide>


  </ion-slides>



  <!-- <ion-card>
    <ion-row>
      <ion-col offset-4>
        <div align="center">1 of 2</div>
      </ion-col>
      <ion-col>
        <div align="center">2 of 2</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div align="center">1 of 2</div>
      </ion-col>
      <ion-col offset-4>
        <div align="center">2 of 2</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div align="center">1 of 2</div>
      </ion-col>
      <ion-col offset-4>
        <div align="center">2 of 2</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div align="center">1 of 2</div>
      </ion-col>
      <ion-col offset-4>
        <div align="center">2 of 2</div>
      </ion-col>
    </ion-row>
  </ion-card> -->


</ion-content>